@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.normal {
  @apply font-normal md:text-sm  text-[12px] tracking-[-0.02em] leading-6 text-fontColor;
}
.slick-active button {
  @apply text-[0px]  before:bg-green before:text-green before:w-4 before:h-4 before:rounded-full;
}
.slick-dots li.slick-active button:before {
  @apply !text-green;
}
.slick-dots li button:before {
  @apply !text-green;
}
.slick-dots li button {
  @apply text-[0px]  before:bg-green before:text-green before:w-4 before:h-4 before:rounded-full;
}

.active {
  @apply relative after:absolute after:h-[3px]  after:bg-green after:left-1/2 after:top-[120%] after:-translate-x-1/2 after:rounded-full after:w-[14px] after:text-darkBlue md:hover:text-fontColor after:duration-300 after:transition-all;
}
